.footer {
  padding-top: 40px;
  background-color: #424646;
}

.footer .footer-nav {
  padding: 0 20px;
}

.footer .footer-nav ul li {
  font-size: 2rem;
  line-height: 2rem;
  padding-bottom: 10px;
}

.footer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer .footer-nav ul li a:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.footer p {
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .inner {
    width: 1150px;
    margin: 0 auto;
  }
}
