@charset "UTF-8";
@import "_mixin.scss";

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 80px;

  h1 {
    .logo {
      width: 120px;
      height: 40px;
    }
  }

  nav {
    li {
      // height: 80px;
      // line-height: 80px;
      display: inline-block;
      letter-spacing: 3px;
      margin-left: 20px;
      a{
        height: 80px;
        line-height: 80px;
        color: tomato;
        text-decoration: none;
        a:hover{
          color: turquoise;
          
        }
      }
    }
  }
}

@include pc {
  .header{

    @include inner;

  }
}