/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  color: #525252;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.8rem;
}

/* END Reset css*/
.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 100;
  height: 80px;
}

.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header .inner h1 {
  font-size: 2.6rem;
}

.header .inner nav li {
  display: inline-block;
  letter-spacing: 3px;
  margin-left: 20px;
  font-size: 1.8rem;
}

.header .inner nav li a {
  height: 80px;
  line-height: 80px;
  color: #525252;
  text-decoration: none;
}

.header .inner nav li a:hover {
  text-decoration: underline;
  transition: 1.0s;
}

@media screen and (min-width: 1200px) {
  .header .inner {
    width: 1150px;
    margin: 0 auto;
  }
}

.key-visual {
  background-image: url(image/key01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 400px;
  padding-top: 30px;
}

@media screen and (min-width: 1200px) {
  .key-visual {
    height: 800px;
    padding-top: 100px;
  }
}

.about_sec {
  text-align: center;
  padding: 0 40px;
}

.about_sec .main_ttl {
  font-size: 2.8rem;
  letter-spacing: 3px;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
}

.about_sec .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about_sec .flex img {
  border-radius: 50%;
  width: 40%;
  margin: 0 auto;
}

.about_sec .flex .main_sub_ttl {
  font-size: 2.8rem;
  letter-spacing: 4px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 30px;
}

.about_sec .flex .main_text {
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 4px;
}

@media screen and (min-width: 900px) {
  .about_sec {
    text-align: inherit;
    margin-top: 40px;
  }
  .about_sec .flex {
    flex-direction: row;
    margin: 0 auto;
  }
  .about_sec .flex img {
    width: 30%;
  }
  .about_sec .flex .tb-fle {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }
  .about_sec .main_sub_ttl {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .about_sec {
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .about_sec .main_ttl {
    text-align: left;
  }
}

.bicycle_sec {
  text-align: center;
  padding: 0 40px;
}

.bicycle_sec .main_ttl {
  font-size: 2.8rem;
  letter-spacing: 3px;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  display: inline-block;
  text-align: center;
  margin: 95px 0 60px;
}

.bicycle_sec .sec img {
  width: 100%;
}

.bicycle_sec .sec .main_sub_ttl {
  font-size: 2.8rem;
  letter-spacing: 4px;
  margin-bottom: 15px;
  text-align: center;
  margin-top: 30px;
}

.bicycle_sec .sec .main_text {
  font-size: 1.6rem;
  line-height: 28px;
  letter-spacing: 4px;
  margin-bottom: 40px;
}

@media screen and (min-width: 900px) {
  .bicycle_sec {
    margin-bottom: 60px;
    text-align: inherit;
  }
  .bicycle_sec .main_ttl {
    margin: 40px 0;
  }
  .bicycle_sec .pc_flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }
  .bicycle_sec .pc_flex .sec {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (min-width: 1200px) {
  .bicycle_sec {
    width: 1150px;
    margin: 0 auto;
  }
  .bicycle_sec .main_ttl {
    text-align: left;
  }
}

.footer {
  padding-top: 40px;
  background-color: #424646;
}

.footer p {
  text-align: center;
  color: #fff;
  padding-bottom: 10px;
}
